# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Processed data files
#timestep_*.pt
#sp100_dynamic_mscmg.pt
*.pt

# Virtual environments
.venv/
venv/
env/
ENV/
.python-version

# Jupyter artifacts
.ipynb_checkpoints/
*.nbconvert/
*.ipynb_out

# Data and generated outputs
data/*.csv
data/*.parquet
outputs/
logs/

# IDE / editor
.vscode/
.idea/

# OS metadata
.DS_Store

# Zone identifier
*.zoneinfo
*:Zone.Identifier

# Events 
events.out.tfevents.*
